<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
<body>
    <div th:fragment="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-column">
                        <a href="/" class="navbar-brand text-white">VieTicket</a>
                        <div class="social-icons my-3">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                     
                        <p><i class="fas fa-phone-alt"></i> Phone: +84 123 456 789</p>
                        <p><i class="fas fa-envelope"></i> Email : dangthanhvinh003@gmail.com</p>
                        

                    </div>
                    <div class="col-lg-3 col-md-6 footer-column">
                        
                    </div>
                    <div class="col-lg-3 col-md-6 footer-column">
                        <h5>For User</h5>
                        <ul>
                            <li><a href="#">How to use the platform</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                     
                        </ul>
                        <h5>For Organizer</h5>
                        <ul>
                            <li><a href="#">Terms and contracts</a></li>
                            <li><a href="#">How to organize an event</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-column">
                        <h5>About Us</h5>
                        <ul>
                            <li><a href="#">Operating regulations</a></li>
                            <li><a href="#">Information security policy</a></li>
                            <li><a href="#">Dispute/complaint resolution mechanism</a></li>
                            <li><a href="#">Payment security policy</a></li>
                            <li><a href="#">Payment methods</a></li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
