<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transaction Failed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5">Transaction Failed</h1>
    <p class="text-center">Unfortunately, your transaction was not successful.</p>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2>Order Details</h2>
            <table class="table table-striped">
                <tr>
                    <td>Total:</td>
                    <td th:text="${order.total}"></td>
                </tr>
                <tr>
                    <td>Time:</td>
                    <td th:text="${#temporals.format(order.date, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td style="color: #d20f39" th:text="${order.status}"></td>
                </tr>
            </table>
        </div>
    </div>

    <p class="text-center">Please try again or contact our customer support for assistance.</p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>