<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>

<body>
    <h1>Welcome to the Home Page</h1>
    <div th:if="${session.activeUser}">
        <p th:text="${session.activeUser.fullName}"> Hello </p>
    </div>

    <form action="@{/upload}" th:action="@{/upload}" method="post" enctype="multipart/form-data" class="form">
        <h2>User Profile</h2>
        <div class="form-group">
            <label for="avatar">Avatar:</label>
            <div class="relative">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            <img th:src="@{${session.activeUser.avatar}}">
                        </span>
                    </label>

                    <i class="fa fa-image"></i>
                    <input type="file" name="image" placeholder="upload file">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>
    <form class="form" th:action="@{/editUser}" method="post">

        <div class="form-group">
            <label for="name">Full Name:</label>
            <div class="relative">
                <input name="fullName" class="form-control" id="name" type="text" pattern="[\s\S]+" required=""
                    autofocus=""
                    title="Tên chỉ nên chứa các chữ cái và khoảng trắng. Ví dụ: Nguyễn Văn Á. Lưu ý: không sử dụng ký tự đặc biệt hoặc số."
                    autocomplete="" placeholder="Nhập tên của bạn ở đây..." th:value="${session.activeUser.fullName}">
                <i class="fa fa-user"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <div class="relative">
                <input name="email" class="form-control" type="email" required=""
                    placeholder="Type your email address..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    th:value="@{${session.activeUser.email}}">
                <i class="fa fa-envelope"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <div class="relative">
                <input name="phone" class="form-control" type="text" maxlength="10"
                    oninput="this.value=this.value.replace(/[^0-9]/g,'');" required=""
                    placeholder="Type your Mobile Number..." th:value="@{${session.activeUser.phone}}">
                <i class="fa fa-phone"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth:</label>
            <div class="relative">
                <input name="dob" class="form-control" type="date" id="dob" th:value="${session.activeUser.dob}"
                    required="" placeholder="YYYY-MM-DD">
                <i class="fa fa-calendar"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <div class="relative">
                <select class="form-control" name="gender" required="">
                    <option value="M" th:selected="${session.activeUser.gender == 'M'}">Male</option>
                    <option value="F" th:selected="${session.activeUser.gender == 'F'}">Female</option>
                    <option value="O" th:selected="${session.activeUser.gender == 'O'}">Other</option>
                </select>
                <i class="fa fa-venus-mars"></i>
            </div>
        </div>
        <div class="tright">
            <a href=""><button class="movebtn movebtnre" type="Reset"><i class="fa fa-fw fa-refresh"></i> Reset
                </button></a>
            <a href=""><button class="movebtn movebtnsu" type="Submit">Submit <i
                        class="fa fa-fw fa-paper-plane"></i></button></a>
        </div>
    </form>

    <div class="thanks" style="display: none;">
        <h4>Thank you!</h4>
        <p><small>Your message has been successfully sent.</small></p>
    </div>

</body>

</html>