<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/djcowpoua/image/upload/v1716277138/5E9B944E-8D69-4D6B-AF10-93526CF88EAA_invhvi.png">
</head>

<body>
    <div class="container">
        <h1>Add Event</h1>
        <form method="post" th:action="@{/add-event}" enctype="multipart/form-data" class="form">
             <!-- Poster Upload -->
             <div class="mb-3">
                <img th:if="${poster}" th:src="${poster}" alt="Uploaded Poster">
                <input type="file" class="form-control" name="poster" placeholder="Upload Poster" onchange="previewImage(event, 'posterPreview')">
                <img id="posterPreview" class="avatar img-fluid" src="#" alt="Poster Preview" style="display: none;">
            </div>
            <!-- Name -->
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <!-- Start Date -->
            <div class="mb-3">
                <label for="start_date" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="start_date" name="start_date" required>
            </div>
            <!-- Location -->
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location" required>
            </div>
            <!-- Type -->
            <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <input type="text" class="form-control" id="type" name="type" required>
            </div>
            <!-- Ticket Sale Date -->
            <div class="mb-3">
                <label for="ticket_sale_date" class="form-label">Ticket Sale Date</label>
                <input type="date" class="form-control" id="ticket_sale_date" name="ticket_sale_date" required>
            </div>
            <!-- End Date -->
            <div class="mb-3">
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date" required>
            </div>
        
           
        
            <!-- Banner Upload -->
            <div class="mb-3">
                <img th:if="${banner}" th:src="${banner}" alt="Uploaded Banner">
                <input type="file" class="form-control" name="banner" placeholder="Upload Banner" onchange="previewImage(event, 'bannerPreview')">
                <img id="bannerPreview" class="avatar img-fluid" src="#" alt="Banner Preview" style="display: none;">
            </div>
        
            <!-- Buttons -->
            <button type="submit" class="btn btn-primary">Add Event</button>
        </form>
        
    </div>
    <script>
        function previewImage(event, previewId) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById(previewId);
                output.src = reader.result;
                output.style.display = 'block';
            }
            reader.readAsDataURL(event.target.files[0]);
        }
        </script>
</body>

</html>