<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home VieTicket</title>
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <style>
        .avatar-small {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 8px;
        }

        .dropdown-toggle-avatar {
            display: flex;
            align-items: center;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <!-- <p th:text="'Active Organizer: ' + ${session.activeUser.role}"></p> -->
                    <th:block th:if="${session.activeUser != null and session.activeUser.role.toString() == 'o'}">
                        <li>
                            <a class="nav-link" th:href="@{/createEvent}">Create Event</a>
                        </li>
                    </th:block>


                    <li class="nav-item">
                        <th:block th:if="${session.activeUser == null}">
                            <a class="nav-link" th:href="@{/auth/login}">Đăng nhập / Đăng ký</a>
                        </th:block>
                    </li>
                    <th:block th:if="${session.activeUser != null  and session.activeUser.role.toString() == 'u'} ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-avatar" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{${session.activeUser.avatar}}" alt="User Avatar" class="avatar-small">
                                Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/change}">Change Profile</a></li>
                                <li><a class="dropdown-item" th:href="@{/tickets}">Purchased Ticket</a></li>
                                <li><a class="dropdown-item" th:href="@{/auth/log-out}">Log out</a></li>
                            </ul>
                        </li>
                    </th:block>
                    <!-- Kiểm tra xem người dùng có đăng nhập không và vai trò của người dùng là 'o' -->
                    <th:block th:if="${session.activeUser != null  and session.activeUser.role.toString() == 'o'} ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-avatar" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{${session.activeUser.avatar}}" alt="User Avatar" class="avatar-small">
                                Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/change}">Change Profile</a></li>
                                <li><a class="dropdown-item" href="#">View List Event</a></li>
                                <li><a class="dropdown-item" th:href="@{/auth/log-out}">Log out</a></li>
                            </ul>
                        </li>
                    </th:block>
                    <!-- Kiểm tra xem người dùng có đăng nhập không và vai trò của người dùng là 'a' -->
                    <th:block th:if="${session.activeUser != null and session.activeUser.role.toString() == 'a'}">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-avatar" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{${session.activeUser.avatar}}" alt="User Avatar" class="avatar-small">
                                Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/change}">Change Profile</a></li>
                                <li><a class="dropdown-item" th:href="@{/ViewAllApprove}">View All List Approve</a></li>
                                <li><a class="dropdown-item" th:href="@{/auth/log-out}">Log out</a></li>
                            </ul>
                        </li>

                    </th:block>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h2>Events</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="event : ${session.events}">
                <div class="card">
                    <!-- <img th:src="${event.imageUrl}" class="card-img-top" alt="Event Image"> -->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${event.name}">Event Name</h5>
                        <p class="card-text" th:text="${event.description}">Event Description</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Location:</strong> <span th:text="${event.location}">Location</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Type:</strong> <span th:text="${event.type}">Type</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Start Date:</strong> <span th:text="${event.startDate}">Start Date</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>