<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
    <link rel="icon" type="image/png"
        href="https://res.cloudinary.com/djcowpoua/image/upload/v1716277138/5E9B944E-8D69-4D6B-AF10-93526CF88EAA_invhvi.png">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: #15132b;
            color: white;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        .form-control {
            background-color: white;
            border-color: #191825;
            color: black;
        }

        .form-control::placeholder {
            color: #6c757d;
        }

        .btn-primary {
            background-color: #6466E9;
            border-color: #6466E9;
        }

        .btn-primary:hover {
            background-color: #4e50b8;
            border-color: #4e50b8;
        }

        #loading {
            display: none;
        }

        #loading .spinner-border {
            color: #6466E9;
        }

        .text-danger {
            color: #E384FF;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Password Reset</h1>

                <div id="loading" class="d-flex justify-content-center align-items-center"
                    style="display: none !important;">
                    <div class="spinner-border" role="status" style="margin-right: 1rem;"></div>
                    <p>Please wait for response.</p>
                </div>

                <form id="password-reset-form" method="POST" class="mb-3">
                    <p>Enter your email or username to reset your password.</p>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email or Username:</label>
                        <input type="text" id="email" name="email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>

                <form id="otp-form" style="display: none;" class="mb-3">
                    <p>Please enter your OTP</p>
                    <div class="mb-3">
                        <label for="otp" class="form-label">Enter OTP:</label>
                        <input type="text" id="otp" name="otp" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Verify OTP</button>
                </form>

                <form id="new-password-form" style="display: none;">
                    <p>Enter your new password</p>
                    <div class="mb-3">
                        <label for="new-password" class="form-label">Enter New Password:</label>
                        <input type="password" id="new-password" name="new-password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Confirm New Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password" class="form-control"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        var email;
        document.getElementById('password-reset-form').addEventListener('submit', function (event) {
            event.preventDefault();

            email = document.getElementById('email').value;

            // Show loading div
            document.getElementById('loading').style.display = 'block';

            fetch('/auth/password-reset', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: email }),
            })
                .then(response => response.json())
                .then(data => {
                    // Hide loading div
                    document.getElementById('loading').style.setProperty('display', 'none', 'important');

                    if (data.success) {
                        // Hide password reset form and show OTP form
                        document.getElementById('password-reset-form').style.display = 'none';
                        document.getElementById('otp-form').style.display = 'block';
                    }
                    // Alert the message
                    alert(data.message);
                })
                .catch(error => {
                    // Hide loading div
                    document.getElementById('loading').style.display = 'none';

                    alert("Error: " + error.message); // Display the error message from the server
                });
        });

        document.getElementById('otp-form').addEventListener('submit', function (event) {
            event.preventDefault();

            var otp = document.getElementById('otp').value;

            fetch('/auth/verify-otp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: email, otp: otp }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Hide OTP form and show new password form
                        document.getElementById('otp-form').style.display = 'none';
                        document.getElementById('new-password-form').style.display = 'block';
                        // Store the token
                        localStorage.setItem('passwordResetToken', data.token);
                    }
                    // Alert the message
                    alert(data.message);
                })
                .catch(error => {
                    alert("Error: " + error.message); // Display the error message from the server
                });
        });

        document.getElementById('new-password-form').addEventListener('submit', function (event) {
            event.preventDefault();

            var newPassword = document.getElementById('new-password').value;
            var confirmPassword = document.getElementById('confirm-password').value;

            if (newPassword !== confirmPassword) {
                alert("Passwords do not match.");
                return;
            }

            // Get the token
            var token = localStorage.getItem('passwordResetToken');

            fetch('/auth/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ token: token, newPassword: newPassword }),
            })
                .then(response => response.json())
                .then(data => {
                    // Alert the message
                    alert(data.message);
                    // Redirect to login page
                    window.location.href = '/auth/login';
                })
                .catch(error => {
                    alert("Error: " + error.message); // Display the error message from the server
                });
        });
    </script>
</body>

</html>