<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Password Reset</title>
</head>

<body>
    <form id="password-reset-form" method="POST">
        <label for="email">Email or Username:</label><br>
        <input type="text" id="email" name="email" required><br>
        <input type="submit" value="Reset Password">
    </form>

    <script>
        document.getElementById('password-reset-form').addEventListener('submit', function (event) {
            event.preventDefault();

            var email = document.getElementById('email').value;

            fetch('/auth/password-reset', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: email }),
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errorData => {
                            throw new Error(errorData.message || 'An error occurred.');
                        });
                    }
                    if (response.status === 200 && response.headers.get('content-length') === '0') {
                        return {}; // Return an empty object if the response is empty
                    }
                    console.log(response);
                    return response.json();
                })
                .then(data => {
                    alert('Please check your email for the OTP.');
                    window.location.href = '/auth/password-reset/verify';
                })
                .catch(error => {
                    alert("Error: " + error.message); // Display the error message from the server
                });
        });
    </script>
</body>

</html>