<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Map Selection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center mb-4">
                    <h4>Hãy chọn để có thể được duyệt sự kiện</h4>
                </div>
                <div class="text-center">
                    <a href="/seatMap/NoSeatMap" class="btn btn-primary mr-2">Không có bản đồ chỗ ngồi</a>
                    <a href="/seatMap/SeatMapBeta" class="btn btn-secondary">Bản đồ chỗ ngồi (Beta)</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
