<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>How To Create</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h2>List of Organizers to Approve</h2>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Founded Date</th>
                <th>Website</th>
                <th>Organizer Address</th>
                <th>Organizer Type</th>
            </tr>
        </thead>
        <tbody>
            <!-- Sử dụng Thymeleaf để lặp qua danh sách các Organizer và hiển thị thông tin của từng Organizer -->
            <tr th:each="organizer : ${organizers}">
                <td th:text="${organizer.userId}"></td>
                <td th:text="${organizer.fullName}"></td>
                <td th:text="${organizer.phone}"></td>
                <td th:text="${#dates.format(organizer.dob, 'dd/MM/yyyy')}"></td>
                <td th:text="${organizer.gender}"></td>
                <td th:text="${organizer.email}"></td>
                <td th:text="${#dates.format(organizer.foundedDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${organizer.website}"></td>
                <td th:text="${organizer.organizerAddr}"></td>
                <td th:text="${organizer.organizerType}"></td>
                <td>
                    <form th:action="@{/approve}" method="post">
                        <input type="hidden" name="organizerId" th:value="${organizer.userId}">
                        <button type="submit" class="btn btn-success"><i class="bi bi-check"></i></button>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"><i class="bi bi-x"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>