<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Approve Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png"
        href="https://res.cloudinary.com/djcowpoua/image/upload/v1716277138/5E9B944E-8D69-4D6B-AF10-93526CF88EAA_invhvi.png">
    <style>
        .description-box {
            height: 300px;
            /* Chiều cao tối đa của ô mô tả */
            overflow-y: auto;
            /* Hiển thị thanh cuộn dọc nếu nội dung vượt quá chiều cao */
            border: 1px solid #ccc;
            /* Viền ô mô tả */
            padding: 10px;
            /* Khoảng cách giữa nội dung và viền */
            margin-bottom: 10px;
            /* Khoảng cách dưới */
        }

        .description-box img {
            max-width: 100%;
            /* Giới hạn chiều rộng ảnh trong ô mô tả */
            height: auto;
            /* Giữ tỷ lệ ảnh */
        }

        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* Khoảng cách đều giữa các phần tử */
        }

        .header-container h2 {
            margin: 0;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="header-container">
            <a th:href="@{/dashboardAdmin}" class="btn btn-primary">Back to Dashboard</a>
            <h2 class="mb-4">List of Event to Approve</h2>
        </div>

        <div class="container mt-4">
            <div class="row">
                <!-- Sử dụng Thymeleaf để lặp qua danh sách các Organizer và hiển thị thông tin của từng Organizer -->
                <div class="col-md-4 mb-4" th:each="event : ${events}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${event.name}">Event Name</h5>
                            <p class="card-text">
                            <p>
                                <strong>Description:</strong>
                            <div class="description-box">
                                <span th:utext="${event.description}">Description</span>
                            </div>
                            </p>
                            <strong>Ticket Sale Date:</strong> <span th:text="${event.ticketSaleDate}">Date</span><br>
                            <strong>Location:</strong> <span th:text="${event.location}">Location</span><br>
                            <strong>Type:</strong> <span th:text="${event.type}">Type</span><br>
                            <strong>Start Date:</strong> <span th:text="${event.startDate}">Start Date</span><br>
                            <strong>End Date:</strong> <span th:text="${event.endDate}">End
                                Date</span><br>
                            <strong>Organizer Name:</strong> <span th:text="${event.organizer.fullName}">Organizer
                                Name</span><br>
                            <strong>Organizer Phone:</strong> <span th:text="${event.organizer.phone}">Phone</span><br>
                            <strong>Organizer Email:</strong> <span th:text="${event.organizer.email}">Email</span>
                            </p>

                            <!-- Hiển thị danh sách giá tiền của các khu vực -->
                            <div>
                                <strong>Areas and Prices:</strong>
                                <ul class="area-list list-group">
                                    <li class="list-group-item" th:each="area : ${event.areas}">
                                        <span th:text="${area.name}">Area Name</span>:
                                        <span class="price" th:data-price="${area.ticketPrice}"
                                            th:text="${area.ticketPrice}">Price</span>
                                    </li>
                                    <!-- Nếu không có khu vực nào, hiển thị thông báo -->
                                    <li class="list-group-item"
                                        th:style="${event.areas == null || event.areas.isEmpty()} ? 'color:red;' : ''"
                                        th:if="${event.areas == null || event.areas.isEmpty()}">
                                        No areas available</li>
                                </ul>
                            </div>

                            <!-- Hiển thị ảnh sơ đồ chỗ ngồi -->
                            <div class="mt-3">
                                <strong>SeatMap Name:</strong>
                                <span th:style="${event.seatMap == null} ? 'color:red;' : ''"
                                    th:text="${event.seatMap != null ? event.seatMap.name : 'No seat map available'}">SeatMap
                                    Name</span><br>
                                <strong>Seat Map:</strong>
                                <img th:if="${event.seatMap != null}" th:src="@{${event.seatMap.img}}" alt="Seat Map"
                                    class="seat-map img-fluid" style="height: 200px;">
                                <span th:style="${event.seatMap == null} ? 'color:red;' : ''"
                                    th:if="${event.seatMap == null}">No seat map available</span>
                            </div>

                            <div>
                                <div th:if="${status == 'approve'}" class="d-flex justify-content-between mt-3">
                                    <form th:action="@{/approveEvent}" method="post" class="me-2">
                                        <input type="hidden" name="eventId" th:value="${event.eventId}">
                                        <button type="submit" class="btn btn-success btn-sm">
                                            <i class="bi bi-check"></i> Approve
                                        </button>
                                    </form>
                                    <!-- Button to trigger modal -->
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#rejectModal">
                                        <i class="bi bi-x"></i> Reject
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="rejectModal" tabindex="-1"
                                        aria-labelledby="rejectModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="rejectModalLabel">Select Corrections
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="rejectForm" th:action="@{/rejectEvent}" method="post">
                                                        <input type="hidden" name="eventId" th:value="${event.eventId}">
                                                        <input type="hidden" name="eventName" th:value="${event.name}">
                                                        <input type="hidden" name="organizerEmail"
                                                            th:value="${event.organizer.email}">

                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="eventName"
                                                                id="eventNameCheck">
                                                            <label class="form-check-label" for="eventNameCheck">Tên sự
                                                                kiện</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="ticketPrice"
                                                                id="ticketPriceCheck">
                                                            <label class="form-check-label" for="ticketPriceCheck">Giá
                                                                vé</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="seatMap" id="seatMapCheck">
                                                            <label class="form-check-label" for="seatMapCheck">Seat
                                                                map</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="description"
                                                                id="descriptionCheck">
                                                            <label class="form-check-label"
                                                                for="descriptionCheck">Description</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="posterImage"
                                                                id="posterImageCheck">
                                                            <label class="form-check-label" for="posterImageCheck">Ảnh
                                                                poster</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="bannerImage"
                                                                id="bannerImageCheck">
                                                            <label class="form-check-label" for="bannerImageCheck">Ảnh
                                                                banner</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="ticketSaleDate"
                                                                id="ticketSaleDateCheck">
                                                            <label class="form-check-label"
                                                                for="ticketSaleDateCheck">Ngày bán vé</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="eventStartDate"
                                                                id="eventStartDateCheck">
                                                            <label class="form-check-label"
                                                                for="eventStartDateCheck">Ngày bắt đầu sự kiện</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="corrections" value="eventEndDate"
                                                                id="eventEndDateCheck">
                                                            <label class="form-check-label" for="eventEndDateCheck">Ngày
                                                                kết thúc sự kiện</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary"
                                                        onclick="submitRejectForm()">Đồng ý</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${status == 'reject'}" class="d-flex justify-content-between mt-3">
                                    <form th:action="@{/approveEvent}" method="post" class="me-2">
                                        <input type="hidden" name="eventId" th:value="${event.eventId}">
                                        <button type="submit" class="btn btn-success btn-sm">
                                            <i class="bi bi-check"></i> Approve
                                        </button>
                                    </form>
                                    <form th:action="@{/DeleteEvent}" method="post" class="me-2">
                                        <input type="hidden" name="eventId" th:value="${event.eventId}">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="bi bi-check"></i> Delete Event
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const priceElements = document.querySelectorAll('.price');
            priceElements.forEach(function (priceElement) {
                const priceValue = parseFloat(priceElement.getAttribute('data-price'));
                if (!isNaN(priceValue)) {
                    // Định dạng giá tiền với dấu phân cách hàng nghìn và thêm chữ "đ" ở sau
                    priceElement.textContent = priceValue.toLocaleString('vi-VN') + ' đ';
                }
            });
        });
    </script>
    <script>
        function submitRejectForm() {
            document.getElementById('rejectForm').submit();
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>

</html>