<!DOCTYPE html>
<html data-bs-theme="dark" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Refund Requests</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            ClassicEditor
                .create(document.querySelector('#editor'))
                .then(editor => {
                    // Update the hidden textarea with the editor content
                    document.querySelector('form').addEventListener('submit', function () {
                        document.querySelector('#hiddenDescription').value = editor.getData();
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        });
    </script>
    <base th:href="${baseUrl}">
</head>
<body>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="text-start">
            <a class="btn btn-outline-primary" th:href="@{/viewMyListEvent}">Go back</a>
        </div>

        <div aria-label="Basic example" class="btn-group text-end" role="group">
            <a class="btn btn-outline-primary" th:href="@{/organizer/refund-list(eventId=${event.eventId})}">To
                approve</a>
            <a class="btn btn-outline-primary" th:href="@{/organizer/refund-list/approved(eventId=${event.eventId})}">Approved</a>
            <a class="btn btn-outline-primary" th:href="@{/organizer/refund-list/rejected(eventId=${event.eventId})}">Rejected</a>
        </div>
    </div>

    <h2 class="text-center mt-4 mb-2" th:text="${title}"></h2>

    <p class="text-center mb-4">For event: <span th:text="${event.name}"></span></p>

    <p class="text-center fw-bold" th:if="${refundOrders == null || refundOrders.isEmpty()}">There's nothing here.</p>

    <div class="table-responsive">
        <table class="table table-striped table-bordered" th:if="${refundOrders != null && !refundOrders.isEmpty()}">
            <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    User
                </th>
                <th>
                    Total
                </th>
                <th>
                    Timestamps
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="refundOrder : ${refundOrders}">
                <td th:text="${refundOrder.order.orderId}"></td>
                <td>
                    <p><span class="fw-bold">Full Name:</span> <span
                            th:text="${refundOrder.order.user.fullName}"></span>
                    </p>
                    <p><span class="fw-bold">Email:</span> <span th:text="${refundOrder.order.user.email}"></span></p>
                    <p><span class="fw-bold">Phone:</span> <span th:text="${refundOrder.order.user.phone}"></span></p>
                </td>
                <td>
                    <p><span class="fw-bold">Order:</span> <span class="price"
                                                                 th:attr="data-price=${refundOrder.order.total}"></span>
                    </p>
                    <p><span class="fw-bold">Refund:</span> <span class="price"
                                                                  th:attr="data-price=${refundOrder.total}"></span></p>
                </td>
                <td>
                    <p><span class="fw-bold">Purchased:</span> <span th:text="${refundOrder.order.date}"></span></p>
                    <p><span class="fw-bold">Requested:</span> <span th:text="${refundOrder.createdOn}"></span></p>
                    <p th:if="${refundOrder.approvedOn != null}">
                        <span class="fw-bold" th:if="${refundOrder.status.toString() == 'APPROVED'}">Approved:</span>
                        <span class="fw-bold" th:if="${refundOrder.status.toString() == 'REJECTED'}">Rejected:</span>
                        <span th:text="${refundOrder.approvedOn}"></span>
                    </p>
                    <p th:if="${refundOrder.refundedOn != null}"><span class="fw-bold">Refunded:</span> <span
                            th:text="${refundOrder.refundedOn}"></span></p>
                </td>
                <td>
                    <p><span class="fw-bold">Refund:</span> <span th:text="${refundOrder.status}"></span></p>
                    <p><span class="fw-bold">Order:</span> <span th:text="${refundOrder.order.status}"></span></p>
                </td>
                <td>
                    <span th:if="${refundOrder.status.toString() == 'CREATED'}">
                        <button aria-label="Approve" class="btn btn-outline-success approve-refund" th:data-order-id="${refundOrder.order.orderId}"
                                title="Approve">
                            <i class="bi bi-check-lg"></i>
                        </button>
                        <button aria-label="Reject" class="btn btn-outline-danger reject-refund" th:data-order-id="${refundOrder.order.orderId}"
                                title="Reject">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </span>
                    <button aria-label="View Detail" class="btn btn-outline-primary" title="View Detail">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- Custom Script to collect emails and set hidden input value -->
<script>
    let priceElements = document.querySelectorAll('.price');
    priceElements.forEach(priceElement => {
        let price = priceElement.dataset.price;
        priceElement.textContent = Number(price).toLocaleString('vi-VN', {style: 'currency', currency: 'VND'});
    });

    // Reject handler
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.reject-refund').forEach(button => {
            button.addEventListener('click', function () {
                const orderId = this.getAttribute('data-order-id');
                fetch('/organizer/refund/reject?orderId=' + orderId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        // Include other necessary headers like authorization if needed
                    },
                    // No need to send a body for this request as orderId is sent as a query parameter
                })
                    .then(response => {
                        if (response.ok) {
                            return response.text();
                        } else {
                            throw new Error('Something went wrong');
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle success response, maybe refresh the page or show a success message
                        alert('Refund request has been rejected');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle error, maybe show an error message to the user
                        alert('Error: ' + error.message);
                    })
                    .finally(() => {
                        // Reload the page after the request is completed
                        location.reload();
                    });
            });
        });
    });

    // Approve handler
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.approve-refund').forEach(button => {
            button.addEventListener('click', function () {
                const orderId = this.getAttribute('data-order-id');
                fetch('/organizer/refund/approve?orderId=' + orderId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        // Include other necessary headers like authorization if needed
                    },
                    // No need to send a body for this request as orderId is sent as a query parameter
                })
                    .then(response => {
                        if (response.ok) {
                            return response.text();
                        } else {
                            throw new Error('Something went wrong');
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle success response, maybe refresh the page or show a success message
                        alert('Refund request has been approved');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle error, maybe show an error message to the user
                        alert('Error: ' + error.message);
                    })
                    .finally(() => {
                        // Reload the page after the request is completed
                        location.reload();
                    });
            });
        });
    });
</script>
</body>
</html>